global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['monitoring-node-exporter-server:9100']

  - job_name: 'web-frontend'
    static_configs:
      - targets: ['web-frontend-server:80']